@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgba(22, 22, 22, 1);
    --color-secondary: rgba(210, 248, 1, 1);
  }
}

.theme-purple-pink {
  --color-primary: rgba(110, 47, 229, 1);
  --color-secondary: rgba(249, 205, 209, 1);
}

.theme-pink-purple {
  --color-primary: rgba(242, 192, 210, 1);
  --color-secondary: rgba(37, 9, 46, 1);
}

.theme-cobalt-white {
  --color-secondary: rgba(31, 63, 195, 1);
  --color-primary: rgba(239, 239, 215, 1);
}

.theme-apricot-orange {
  --color-primary: rgba(255, 236, 174, 1);
  --color-secondary: rgba(241, 113, 65, 1);
}

.theme-green-blue {
  --color-secondary: rgba(71, 94, 61, 1);
  --color-primary: rgba(185, 213, 230, 1);
}

/* Custom Font */
@font-face {
  font-family: "Postertoaster";
  src:
    local("Postertoaster"),
    url("./assets/fonts/Postertoaster.ttf") format("truetype");
}

@font-face {
  font-family: "cygnito-mono";
  src:
    local("cygnito-mono"),
    url("./assets/fonts/CygnitoMono.otf") format("truetype");
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "dlig" 1,
    "ss07" 1,
    "ss08" 1,
    "zero" 1,
    "tnum" 1,
    "cv03",
    "cv04" 1,
    "cv01" 1,
    "cv09",
    "cv02" 1;
}

body * {
  @apply transition-colors duration-200;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
