@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
@font-face {
  font-family: "Postertoaster";
  src:
    local("Postertoaster"),
    url("./assets/fonts/Postertoaster.ttf") format("truetype");
}

@font-face {
  font-family: "cygnito-mono";
  src:
    local("cygnito-mono"),
    url("./assets/fonts/CygnitoMono.otf") format("truetype");
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1,
    "dlig" 1,
    "ss07" 1,
    "ss08" 1,
    "zero" 1,
    "tnum" 1,
    "cv03",
    "cv04" 1,
    "cv01" 1,
    "cv09",
    "cv02" 1;
}

body * {
  @apply transition-colors duration-200;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
